<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        bootstrap="tests/bootstrap.php"
        convertDeprecationsToExceptions="false"
        >
    <testsuites>
        <testsuite name="Report Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
      <include>
        <!-- <directory suffix=".php">src</directory> -->
        <file>src/Cards/FiveCardPoker.php</file>
        <file>src/Cards/CompareRank.php</file>
        <file>src/Cards/CardHand.php</file>
        <file>src/Cards/Deck.php</file>
        <file>src/Controller/ProjectController.php</file>
      </include>
      <report>
        <clover outputFile="docs/coverage.clover"/>
        <html outputDirectory="docs/coverage" lowUpperBound="35" highLowerBound="70"/>
      </report>
    </coverage>
    <logging>
      <junit outputFile="docs/junit.xml" />
    </logging>
    <php>
      <env name="KERNEL_CLASS" value="App\Kernel"/>
      <env name="APP_ENV" value="test" force="true"/>
    </php>
</phpunit>
