html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

article {
    margin: 0 auto;
    max-width: 1400px;
    min-height: 1200px;
}

.main-nav {
    background-color: rgba(135, 119, 119, 0.843);
    display: flex;
    padding: 1em 1em;
}

.container {
    display: flex;
    align-items: center;
}
  
.logo {
    color: orange;
    text-decoration: none;
    font-weight: bolder;
}

.links {
    list-style-type: none;
    margin: 0;
    display: flex;
    padding-left: 0;
}

.links a {
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: whitesmoke;
  }

figure {
    margin-left: 0;
}

footer {
    padding: 2em 0em 2em 0em;
    background-color: rgba(135, 119, 119, 0.843);;
} 

footer p {
    text-align: center;
    font-size: 1.2rem;
    color: whitesmoke;
}

p,h1,h2,h3,figcaption,a,strong,table {
    color: #111;
}

p, a, input, label {
    font-size: 2.5vh;
}

h1 {
    font-size: 3em;
}

.proj-nav {
    margin-top: 2em;
}

.proj-header {
    color: orange;
    margin-top: 0;
}

.show-menu {
    cursor: pointer;
}
  
input.checkbox-menu[type="checkbox"] {
    display: none;
}
  
input.checkbox-menu[type="checkbox"]:checked ~ div.menu-block {
    opacity: 1;
    visibility: visible;
}
  
.nav-icon {
    display: inline-block;
    font-size: 1.5em;
    padding: 0.5em;
    vertical-align: middle;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.menu-block {
    display: inline-block;
    opacity: 0;
    vertical-align: middle;
    visibility: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
  
ul.navUL {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
ul.navUL li {
    display: inline-block;
    padding: 0px 5px;
}
  
ul.navUL li a {
    color: rgb(46, 46, 46);
    display: block;
    padding: 3px;
    text-decoration: none;
}
  
ul.navUL li a:hover {
    color: orange;
    text-decoration: none;
}

.proj-content {
    padding: 5em;
}

.proj-content p {
    color: white;
}

.proj-start {
    background-color: rgba(81, 106, 136, 0.843);
}

.proj-about {
    background-color: rgba(159, 131, 183, 0.997);
}

.banner {
    height: 300px;
    background-image: url("../img/poker.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}

.banner-about {
    height: 400px;
    background-image: url("../img/poker2.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.card-wrap {
    background-color: white;
}

.card-wrap h2 {
    color: black;
}

.card-grid {
    color: #fff;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(8, 1fr);
    padding-bottom: 6vh;
}

.card {
    font-size: 25vh;
    height: 20vh;
}

input[type=checkbox] {
    height: 25px;
    width: 25px;
    margin: 0;
}

.black-card {
    color: black;
}

.red-card {
    color: red;
}

.poker {
    width: 60%;
    margin: 0 auto;
}

.cover-card {
    color: darkcyan;
}

.pot {
    height: 2em;
    border: 5px solid gold;
}

.poker-input input {
    margin-inline: 1em;
}

.poker-button {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    width: 25%;
    margin-top: 1em;
}

.game-button {
    color: blue;
}

.status {
    color: black;
}

.book input {
    color: black;
    background-color: white;
}

.sf-toolbar {
    height: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.5em;
}

th,td {
    border: 4px solid white;
}

th {
    font-size: 2vh;
    text-align: left;
}

td {
    font-size: 2vh;
}

th,td {
    padding: 1em;
}

tr:nth-child(2n) {
    background-color: #f80;
}

.submit {
    margin-top: 1em;
    margin-bottom: 1em;
}
