html {
    background-color: #05a;
}
body {
    width: 75%;
    margin: 8px auto;
    background-color: #05a;
    padding: 2em;
    border: 6px solid #fff;
    box-shadow: 6px 6px;
}

a {
    text-decoration: underline;
}

p,h1,h2,a, strong {
    color: #fff
}

p,h1,a {
    font-family:Arial, Helvetica, sans-serif;
}

p, a, input {
    font-size: 2.5vh;
}

h1 {
    font-size: 4vh;
}

strong {
    display: block;
    text-align: center;
    background-color: #f80;
    padding: 2em;
}

.card-wrap {
    background-color: white;
}

.card-wrap h2 {
    color: black;
}

.card-grid {
    color: #fff;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 4vh;
    padding-bottom: 6vh;
}

.card {
    font-size: 20vh;
    height: 20vh;
}

input {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    text-decoration: underline;
    cursor: pointer;
    color: #fff
}

.black-card {
    color: black;
}

.red-card {
    color: red;
}

.game-button {
    color: blue;
}