html {
    background-color: lightgrey;
}

header {
    padding-bottom: 4em;
}

header, article, footer {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: red;
}

article {
    min-height: 800px;
    background-color: #fff;
}

article p, h1, h2, h3, ul, img {
    margin-inline: 50px;
}

footer {
    margin-bottom: 3em;
    padding: 4em 0em 4em 0em;
}

header h1 {
    margin-left: 0.5em;
}

nav {
   display: block;
   margin-left: 1em;
}

a {
    text-decoration: underline;
}

p,h1,h2,h3,figcaption,a,strong,label,table {
    color: #111;
}

p,h1,a {
    margin-top: 0;
}

p, a, input, label {
    font-size: 2.5vh;
}

h1 {
    font-size: 3em;
}

strong {    
    display: block;
    text-align: center;
}

.project-nav {
    background-color: gold;
    text-align: center;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
}

.card-wrap {
    background-color: white;
}

.card-wrap h2 {
    color: black;
}

.card-grid {
    color: #fff;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(8, 1fr);
    padding-bottom: 6vh;
}

.card {
    font-size: 23vh;
    height: 18vh;
}

input[type=checkbox] {
    height: 25px;
    width: 25px;
    margin: 0;
}

.black-card {
    color: black;
}

.red-card {
    color: red;
}

.poker {
    width: 60%;
    margin: 0 auto;
}
.cover-card {
    color: darkcyan;
}

.pot {
    height: 2em;
    border: 5px solid gold;
}

.poker-input input {
    margin-inline: 1em;
}

.poker-button {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    width: 25%;
}

.game-button {
    color: blue;
}

.status {
    color: black;
}

.book input {
    color: black;
    background-color: white;
}

.sf-toolbar {
    height: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.5em;
}

th,td {
    border: 4px solid white;
}

th {
    font-size: 2vh;
    text-align: left;
}

td {
    font-size: 2vh;
}

th,td {
    padding: 1em;
}

tr:nth-child(2n) {
    background-color: #f80;
}

.submit {
    margin-top: 1em;
    margin-bottom: 1em;
}
