{% extends "base.html.twig" %}

{% block title %}Om{% endblock %}

{% block body %}
    <h1>Om</h1>
    <img src="{{ asset('img/phelepant.png') }}" width="200" alt="En phelepant!">
    <p>Denna webbplatsen är en del av kursen <a href="https://github.com/dbwebb-se/mvc">mvc.</a></p>
{% endblock %}