{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Card</h1>
    <p>Ett simpelt kortspel skrivet i objektorienterad PHP.</p>
    <p>Nedan kan du hitta samtliga länker gällande kortleken.</p>
    <ul>
    <li>
        <a href="{{ url("deck") }}">card/deck</a>
    </li>
</ul>
{% endblock %}
