{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    {% for card in deck%}
    <p style="font-size:150px;margin:0;">;
</p>
    {% endfor %}
    <h1>Card</h1>
    <p>Ett simpelt kortspel som består av olika klasser.</p>
{% endblock %}
