{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<h1>Deck</h1>
<div class="card-wrap">
    <div class="card-grid">
        {% for card in deck %}
            <div class="card">{{card.getCardRep}}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
