{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block body %}
    <h1>Om mig</h1>
    <img src="{{ asset('img/jigen.png') }}" width="200" alt="Bild på mig">
    <p>Tjena, jag heter Gustaf Sundqvist och studera webbprogrammering på BTH</p>
    <p>Är född och upvuxen i Täby inom ett villaområde som byggdes kring 1980-talet. Flyttade för förstagången i hösten 2020 till Karlskrona i syftet med påbörjade studierna.</p>
    <p>Har sedan ung ålder varit intresserad av datorer, både inom hårdvara och mjukvara. Till en början så var datorspel det mest intressanta. jag började programmera vid 14års åldern och de första programmeringsspråken var Python, Java och C#. Utöver mina intressen inom datorer gillar jag att; kolla på film/TV-serier, umgås med vänner & släkt, matlagning.</p>
    <p>Har arbetat med ramverk sedan tidigare, dock i JavaScript med React. Kommer bli intressant att jämföra ramverk/språk med varandra och ta del av eventuella för-nackdelar.</p>
{% endblock %}
