{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block body %}
    <article>
        <header>
            <h1>Redovisning av kursmoment i kursen vlinux</h1>
        </header>
        <section>
            <h2>Kmom01</h2>
            <p>Text här...</p>
        </section>
    </article>
    
{% endblock %}