{% extends "base.html.twig" %}

{% block title %}Böker{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Böker i registret</h1>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Titel</th>
            <th>Författare</th>
            <th>Cover</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{book.isbn}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.cover}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}