<nav class="proj-nav">
    <label for="id-show-menu" class="show-menu">
    <div class="nav-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    </label>
  <input type="checkbox" id="id-show-menu" class="checkbox-menu" role="button">
  <div class="menu-block">
    <ul class="navUL">
      <li><a href="{{ path("project_index") }}">Start</a></li>
      <li><a href="{{ path("project_game") }}">Spelet</a></li>
      <li><a href="{{ path("project_about") }}">Om</a></li>
    </ul>
  </div>
</nav>